//Colors and backgrounds
$navheight: 90px;
$navbg: #000;
$navtrans: transparent;
$navcolor: #f5f5f5;
$navheader: 60px;
$navicon: 25px;
$navfontsize: 16px;

$globalfont: sans-serif;
//Misc
$bold: bold;
$bolder: bolder;
$normal: normal;
